@mixin vSphere() {
    position: absolute;
    left: 76.5em;
    width: 10.5em;
    height: 25px;
    border-radius: 10px;
    background-color: $dark-blue;
    color: $white;
    padding-left: 13px;
    line-height: 26px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 7px 1px;
}

@mixin load-balancer() {
	background-color: $white;
    border: 1px solid $black;
    color: $black;
    line-height: 26px;
    position: absolute;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $LB-px;
    width:15em;
    left: 24.75em;
}

@mixin label() {
	width: 25em;
    height: auto;
    background-color: $white;
    color: $black;
    line-height: 1em;
    position: absolute;
    top: -9em;
    border: 1px solid $black;
    text-align: left;
    padding: 2em 2em;
    background-repeat: no-repeat;
}

@mixin node() {
	width: 7em;
    height: 1.8em;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
    background-color: #666;
    color: #ffffff;
    padding-left: 8px;
    line-height: 1.8em;
    position: absolute;
    left: 35em;
}

@mixin environment() {
	
}

@mixin envBackground() {
    
}

@mixin platform() {
    width: 6em;
    height: 56em;
    border-radius: 10px;
    float: left;
    padding-top: 51em;
    background-color: $mid-grey;
    color: $white;
    line-height: 1em;
    position: absolute;
    top: -1.5em;
    font-size: 1em;
    text-align: center;
}

@mixin arrow() {
    position: absolute;
    left: 45.65em;
    width: 11em;
    height: 15em;
    background-image: url(../images/arrow1.svg);
    background-size: 5em;
    background-repeat: no-repeat;
    background-position: 7px 1px;
    opacity: 0.75;
}

@mixin count() {
    position: absolute;
    left: 46.15em;
    width: 11em;
    height: 15em;
    background-size: 4em;
    background-repeat: no-repeat;
    background-position: 7px 1px;
}



