// Color Names
$white: #ffffff;
$pink: #ff99cc;
$darksalmon: #e9967a;
$light-green: #ddffdd;
$light-grey: #dddddd;
$light-blue: #99cfd6;
$mid-grey: #999999;
$light-purple: #9932cc;
$dark-grey: #666666;
$darkgreen: #99cc99;
$green: #006400;
$darkorchid: #602f8d;
$orange: #ff9966;
$mid-blue: #56b7e9;
$st-blue: #006699;
$blue-violet: #ff33ff;
$royal-blue: #0000ff;
$dark-blue: #00008B;
$black: #000000;

// Layout

// Fonts
$em-size: 16px;
$LB-px: 16px;

// Z-indexes
$caption1: 100; 
$toggle1: 1000;

// Breakpoints
@import "include-media";
$breakpoints: (
	'extra-small-devices': 576px,
	'small-devices': 768px,
	'medium-devices': 992px,
	'large-devices': 1200px
	);