/* Custom styling for the Bootstrap website. 
These styles do not ship with Bootstrap. 
Some are overrides of existing Bootstrap styles, while others are new styles not existing in Bootstrap.
In the starting CSS document, styles are based on custom classes not in Bootstrap.
*/

@import "variables";
@import "mixins";

/* Extra small devices (phones, less than 768px) */
@include media('screen', '>=extra-small-devices') {
    body  {
            background-color: darkgray;  
          }
    .logo {
            text-align: left;
          }
    .tagline {
            font-size: 2em;
            text-align: right;
            padding-top: 1.6em;
          }
}

/* Small devices (tablets, 768px and up) */
@include media('screen', '>=small-devices') {
    body  {
            background-color: crimson;  
          }
}

/* Medium devices (desktops, 992px and up) */
@include media('screen', '>=medium-devices') {
    body  {
            background-color: darkblue;
          }                  
}

/* Large devices (large desktops, 1200px and up) */
@include media('screen', '>=large-devices') {

          html {
            font-size: $em-size;  
          }
          body {
            background-color: transparent; 
          }
          #diagram-container {
            background-image: url(../images/grid.svg);
            background-size: 25px;
            background-repeat:repeat;
            height:50.1em;
            position: relative;
            margin-top: 10em;
            width: 100%;
          }
          #catalogue-contents {
            position: relative;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Chrome/Safari/Opera */
            -khtml-user-select: none; /* Konqueror */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently not supported by any browser */
          }
          header {
            background: $mid-blue;
          }
          .logo {
            text-align: left;
          }
          .button-margin {margin-top: 1em;}
          .service-endpoint {
            @include load-balancer();
            position: absolute;
            background-color: $white;
            border: 1px solid $black;
            color: $black;
            line-height: 26px;
            padding: 0px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: $LB-px;
            width:15em;
            left: 2em;
            top: 5.2em;
          }
          .vm {
            position: absolute;
            top: 6em;
            left: 21.6em;
            width: 10.5em;
            height: 25px;
            border-radius: 10px;
            background-color: $green;
            border: 1px solid rgb(0,204,51);
            color: $white;
            padding-left: 34px;
            line-height: 22px;
            background-size: 22px 22px;
            background-repeat: no-repeat;
            background-position: 7px 0px;
            background-image: url(../images/vmware.svg);
          }
          .db {
            position: absolute;
            top: 6em;
            left: 33.6em;
            width: 210px;
            height: 25px;
            border-radius: 10px;
            background-color: $light-purple;
            color: $white;
            padding-left: 14px;
            line-height: 26px;
            background-size: 22px 22px;
            background-repeat: no-repeat;
            background-position: 1.2em .1em;
            background-image: url(../images/database.svg);
            padding-left: 3.1em;
          }
          .st {
            position: absolute;
            top: 6em;
            left: 50.1em;
            width: 210px;
            height: 25px;
            border-radius: 10px;
            background-color: $st-blue;
            color: $white;
            padding-left: 34px;
            line-height: 26px;
            background-size: 22px 22px;
            background-repeat: no-repeat;
            background-position: 1.2em .1em;
            background-image: url(../images/storage.svg);
            padding-left: 3.1em;
          }
          .dbvm {
            position: absolute;
            top: 6em;
            left: 66em;
            width: 10.5em;
            height: 25px;
            border-radius: 10px;
            border: 1px solid rgb(0,204,51);
            background-color: green;
            color: white;
            padding-left: 34px;
            line-height: 22px;
            background-size: 22px 22px;
            background-repeat: no-repeat;
            background-position: 7px 0px;
            background-image: url(../images/vmware.svg);
          }
          #ex { 
            position: relative;
            padding-top: 16%;
            top: 2.6em;
            left: 2em;
            width: 5%;
            min-height: 45.25em;
            background-color: $white;
            color: $black;
            line-height: 1.6em;
            border: 1px dashed $black;
            text-align: center;
            word-wrap: break-word;
            cursor: pointer;
          }
          #prod {
            @include environment(); 
            background-color: rgba(153, 204, 153, 0.5);
            top: 0em;
            left: 7em;
            width: 126em;
            color: $black;
            line-height: 15em;
            position: absolute;
            text-align: left;
            padding-left: 14em;
            border: 1px solid $darkgreen;
            cursor: pointer;
            opacity: 0;
          }
          #test { 
            @include environment();
            background-color: rgba(255, 153, 102, 0.5);
            top: 15.2em;
            border: 1px solid $orange;
            left: 7em;
            width: 126em;
            color: $black;
            line-height: 15em;
            position: absolute;
            text-align: left;
            padding-left: 14em;
            cursor: pointer;
            opacity: 0;
          }
          #dev { 
            @include environment();
            border: 1px solid $blue-violet;
            background-color: rgba(255, 51, 255, 0.5);
            top: 30.4em;
            left: 7em;
            width: 126em;
            color: $black;
            line-height: 14.6em;
            position: absolute;
            text-align: left;
            padding-left: 14em;
            cursor: pointer;
            opacity: 0;
          }
          .grid-item-height {position: relative;}
          #grid-item-height-right-prod { 
            @include envBackground();
            background-color: $darkgreen;
            height: 100%;
            top: 0em;
            left: 0em;
            width: 120em;
            margin-left: 6.4em;
            opacity: .4;
            position: absolute;
          }
          #grid-item-height-right-test {
            @include envBackground();
            height: 100%;
            background-color: $orange;
            top: 17.4em;
            top: 0em;
            left: 0em;
            width: 120em;
            margin-left: 6.4em;
            opacity: .4;
            position: absolute;
          }
          #grid-item-height-right-dev {
            @include envBackground();
            background-color: $blue-violet;
            top: 33.3em;
            height: 100%;
            top: 0em;
            left: 0em;
            width: 120em;
            margin-left: 6.4em;
            opacity: .4;
            position: absolute;
          }
          #buildLabel { 
            width: auto;
            height: auto;
            background-color: $white;
            color: $black;
            line-height: 1.1em;
            position: absolute;
            top: 14.3em;
            left: 13.85em;
            border: 1px dotted $dark-grey;
            padding: 1em 2em 1em;
            text-align: center;
          }
          #toolsLabel { 
            width: auto;
            height: auto;
            background-color: $white;
            color: $black;
            line-height: 1.1em;
            position: absolute;
            top: 49.3em;
            left: 13.85em;
            border: 1px dotted $dark-grey;
            padding: 1em 2.8em 1em;
            text-align: center;
          }
          #timetable {
            position: absolute;
            top: -9em;
            left: 1.9em;
            background-image: url(../images/timetable.svg);
            background-size: 16em;
            width: 16em;
            height: 7em;
            background-repeat: no-repeat;
          }
          #storage { 
            @include label();
            left: 110em;
            background-image: url(../images/NetApp.svg);
            background-size: 3em 3em;
            background-position: 21.5em 1em;
            display: none;
          }
          #frontendlabel {
            @include label();
            left: 50em;
            background-image: url(../images/redhat.svg);
            background-size: 6em;
            background-position: 18em 1.4em;
            display: none;
          }
          #backendlabel {
            @include label();
            left: 80em;
            background-image: url(../images/oracle.svg);
            background-size: 6em;
            background-position: 18em 2em;
            display: none;
          }
          #applicationDelivery {
            @include label();
            left: 20em;
            background-image: url(../images/f5.svg);
            background-size: 4em;
            background-position: 20em .7em;
            display: none;
          }
          #VMwarePlatform1 { 
            @include platform(); 
            left: 70em;
            display: none;
          }
          #VMwarePlatform2 { 
            @include platform(); 
            left: 100em;
            display: none;
          }
          #apcPlatform {    
            @include platform(); 
            left: 40em;
            display: none;
          }
          #netAppPlatform {
            @include platform(); 
            left: 126.5em;
            width: 8.5em;
            display: none;
          }
          #node1 { 
            @include node();
            top: .7em;
          }
          #node2 {     
            @include node();
            top: 2.6em;
          }
          #norderstedt-firewall-line {    
            border-style: dashed;
            position: absolute;
            width: 86%;
            top: 25%;
            left: 260px;
          }
          #alsterdorf-firewall-line {
            border-style: dashed;
            position: absolute;
            width: 86%;
            top: 75%;
            left: 260px;
          }
          #alsterdorf-firewall { 
            position: absolute;
            top: 12em;
            left: 57em;
          }
          #norderstedt-firewall { 
            position: absolute;
            top: 39.5em;
            left: 57em;
          }
          #end_dehamsl962 {
            left: 33.3em;
            top: 2.5em;
          }
          #db1 {
            left: 65em;
            top: 4em;
          } 
          #db2 {
            left: 65em;
            top: 11em;
          } 
          #LB1 {
            position: absolute;
            top:300px;
            left:530px;
          }
          #LB2 {
            position: absolute;
            top:360px;
            left:515px;
          }
          #LB2Button {
            @include load-balancer();
            top: 20.6em;
          }
          #LB3 {
            position: absolute;
            top:20em;
            left:30em;
          }
          #LB3Button {
            @include load-balancer();
            top: 35em;
          }
          .loadbalanceritem1 {
            position: relative;
            top: -14.7em;
            left: -11em;
          }
          .loadbalanceritem2 {
            position: relative;
            top: -3.0em;
            left: -11em;
          }
          .loadbalanceritem3 {
            position: relative;
            top: 19.2em;
            left: -4.4em;
          }
          #legend {
            width: auto;
            height: auto;
            margin-top: 10px;
            background-color: $white;
            color: $black;
            padding: 5px 130px 5px 130px;
            line-height: 20px;
            position: absolute;
            top: 54.75em;
            left: 0em;
            border: 1px solid $black;
            text-align: center;
          }
          .database {
            position: absolute;
            width: 210px;
            height: 25px;
            border-radius: 10px;
            background-color: $light-purple;
            color: $white;
            padding-left: 34px;
            line-height: 26px;
            background-image: url(../images/database.png);
            background-size: 22px 22px;
            background-repeat: no-repeat;
            background-position: 7px 1px;
          }
          #applicationStackLabel { 
            position: absolute;
            top: 63.5em;
            right: 0%;
            width: 18em;
            height: auto;
            background-color: $white;
            color: $black;
            line-height: 1em;
            border: 1px solid $black;
            padding: .94em .94em;
            text-align: left;
            font-size: .875em
          }
          .legend_box {
            position:absolute; 
            width: 100px; 
            height: auto; 
            border-radius:10px; 
            color:$white; 
            padding:5px 5px 5px 5px; 
            line-height: 12px; 
            text-align: center; 
            font-size: 12px;
          }
          .caption { 
            width: 175px;
            height: auto;
            padding: 10px;
            z-index: $caption1; 
            border-radius:10px; 
            float:left; 
            margin-top:2px; 
            background-color: $white; 
            color: $dark-grey; 
            line-height: 20px; 
            position: absolute; 
            bottom: 125%;
            left: 50%;
            display:none;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            pointer-events: none;
          }
          .caption::after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 25%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
          }
          .loadbalancerWidth {
            width:3.4em;
          }
          #dragbutton {
            background-color: $light-green;
          }
          /*General Fixed Elements*/
          .load-balancer-label {    
            @include load-balancer();
            width: auto;
            height: 30px;
            margin-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            top: 0px;
            left: 45px;
          }
          #alsterdorf-dmzLabel { 
            width: auto; 
            height: auto; 
            margin-top:10px; 
            background-color: #000; 
            color:$white; 
            line-height: 34px; 
            position: absolute; 
            top: 184px;
            left: 1190px; 
            border:1px solid $black; 
            text-align: center; 
            font-size: 3.5em; 
            padding:6px;
          }
          #alsterdorf-internet { 
            position: absolute; 
            top: 70px; 
            left: 806px;
          }
          #alsterdorf-chevron { 
            position: absolute; 
            top: 110px; 
            left: 822px; 
            opacity: 0;
          }
          #norderstedt-chevron { 
            position: absolute; 
            top: 770px; 
            left: 821px; 
            opacity: 0;
          }
          #norderstedt-internet { 
            position: absolute; 
            top: 783px; 
            left: 806px;
          }
          #norderstedt-apzLabel { 
            width: 2.5em; 
            height: auto; 
            z-index: 10; 
            margin-top:10px; 
            background-color: #000; 
            color:$white; 
            line-height: 34px; 
            position: absolute; 
            top:494px; 
            left:1190px; 
            border:1px solid $black; 
            text-align: center; 
            font-size: 3.5em; 
            padding:6px;
          }
          #norderstedt-dmzLabel { 
            width: auto; 
            height: auto; 
            z-index: 10; 
            margin-top:10px; 
            background-color:#000; 
            color:$white; 
            line-height: 34px; 
            position: absolute; 
            top:640px; 
            left:1190px; 
            border:1px solid $black; 
            text-align: center; 
            font-size: 3.5em; 
            padding:6px;
          }
          .apz {
            width: auto;
            height: auto;
            font-size: 20px;
            color: $white; 
            margin-left:-6px; 
            margin-top: 38px;
          }
          #stencil {
            display:block;
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
          }
          #vSphere1 {
            @include vSphere();
            top: 1.40em;
          }
          #vSphere2 {
            @include vSphere();
            top: 3.3em;
          }
          #score1 {
            position: relative;
            font-size: 30px;
            font-weight: bold;
            padding: 20px;
            text-align: center;
            background-color: transparent;
            color: $white;
            border-radius: 20px 20px;
            top: -11px;
            left: -42px;
          }
          #score2 {
            position: relative;
            font-size: 30px;
            font-weight: bold;
            padding: 20px;
            text-align: center;
            background-color: transparent;
            color: $white;
            border-radius: 20px 20px;
            top: -11px;
            left: -42px;
          }

          #score3 {
            position: relative;
            font-size: 30px;
            font-weight: bold;
            padding: 20px;
            text-align: center;
            background-color: transparent;
            color: $white;
            border-radius: 20px 20px;
            top: -11px;
            left: -42px;
          }

          #prodArrow {
            @include arrow();
            top: 1.9em;
          }
          #prodCount {
            @include count();
            background-image: url(../images/_prodCount.svg);
            top: 11.2em;
          }
          #testArrow {
            @include arrow();
            top: 17.9em;
          }
          #testCount {
            @include count();
            background-image: url(../images/_testCount.svg);
            top: 27.2em;
          }
          #devArrow {
            @include arrow();
            top: 33.8em;
          }
          #devCount {
            @include count();
            background-image: url(../images/_devCount.svg);
            top: 43.1em;
          }

          // Dropdown
          .dropbtn {
              background-color: #4CAF50;
              color: white;
              padding: 16px;
              font-size: 16px;
              border: none;
              cursor: pointer;
          
          }

          .dropdown {
              position: absolute;
              top: 0;
              left:0;
              display: inline-block;
          }

          .dropdown-content {
              position: absolute;
              background-color: #ff0000;
              min-width: 560px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          }

          .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
          }

          .dropdown-content a:hover {background-color: #f1f1f1}

          .dropdown:hover .dropdown-content {
              display: block;
          }

          .dropdown:hover .dropbtn {
              background-color: #3e8e41;
          }

          form {
              position: relative;
              top:5em;
              left: 85em;
              line-height: 3.7em;
          } 

          label {
              margin-right: 7em;
          } 

          /*Links*/
          a.toggle1:hover + div.caption {
            display: block; 
            z-index: $toggle1;
          }
          a:link, a:visited { 
            color: inherit;
            text-decoration: none;
            cursor: auto;
          }
          a:link:active, a:visited:active { 
            color: inherit;
          }

          /* footer styling for all resolutions */

          .siteinfo {
           text-align: center;
           padding: 3em 0;
           border-top: 1px solid #ddd;
          }
          .siteinfo a {
           text-decoration: none;
           color: #999;
           font-size: 0.8em;
          }
          .siteinfo a:hover {
           color: $darkorchid;
           text-decoration: underline;
          }

}



